.pdf-viewer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.controls {
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pdf-canvas {
    border: 1px solid black;
}
